<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 style="text-align: center;">Please Contribute!</h3>
      <p>We would like this tool to become a valuable resource for our team and our partners. To do that we need your help. Please take the time to make a request if you know of an MFP that is missing or request an edit to an existing MFP if the information is incorrect. All request's will require you to submit 
      the model name of the MFP, your name and email (so that we can verify if need be), the manufacturer and the supported status (whether or not it supports papercut). If you aren't sure of the supported status select 'Unknown'. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h3 style="text-align: center;">Current State</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p style="text-align: center;">This section breifly explains how to use this tool in it's current state.</p>
      <ul>
        <li><p>SEARCH:   Rigt now search is geared to work by model number and manufacturer. So a search for 'Xerox 95' will return all Xerox copiers that have 95 in their model number while a search for simply 'Xerox' will return all Xerox's and a search for '95' will return all copiers with '95' in their model number.</p></li>
        <li><p>MAKE A REQUEST:   You can request for a new copier to be added through the 'Make Request' navbar link (notice certain fields are required). You can make a request to edit the information for an existing copier through the 'Request Edit' link at the top left of the copier details page.</p></li>
        <li><p>MFP DETAILS:   You can view the details of a machine by clicking the copier from the search results. The highlights are shown initially and you can view the full details by toggling the 'Show More Details' button. </p></li>
        <li><p>INTEGRATION MATRIX:  We've incorporated the integration matrix into this application. The MFP details page of a particular copier will contain link(s) to the MFP Integration Matrix for that manufacturer. Note: This is only applicable to the manufacturer's listed in the integration matrix supplied by PaperCut. In 
        certain cases multiple matrix links will be available for an individual machine. For example, a Xerox machine will show 4 links: Fuji Xerox, Xerox Network Accounting, EIP 1.0+ and EIP 1.5+. </p></li>
      </ul>
    </div>
  </div>

</div>