<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h3 style="text-align: center;">Current State</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p style="text-align: center;">This section breifly explains how to use this tool in it's current state.</p>
      <ul>
        <li><p>SEARCH:   Rigt now search is geared to work by model number and manufacturer. So a search for 'Xerox 95' will return all Xerox copiers that have 95 in their model number while a search for simply 'Xerox' will return all Xerox's and a search for '95' will return all copiers with '95' in their model number.</p></li>
        <li><p>MAKE A REQUEST:   You can request for a new copier to be added through 'Make Request' navbar link (notice certain fields are required). You can make a request to edit an existing copier through the 'Request Edit' link on the copier details page.</p></li>
        <li><p>MFP DETAILS:   You can view the details of a machine by clicking the copier from the search results. The highlights are shown initially and you can view the full details by toggling the 'Show Details' button. </p></li>
      </ul>
    </div>
  </div>
</div>