<div class="container">
  <h1>Copier details</h1>




  <% if admin_logged_in? %>
    <%= link_to "Delete", copier_path, method: :delete %>
    <p></p>
    <%= link_to "Edit", edit_copier_path %>
    <p></p>
    <%= link_to "PDF", {:format => :pdf }, target: :_blank %>
  <% end %>
  </div>

  <p></p>

<!--<div class="container">-->
  <%= render 'copier2' %>

<!--</div>-->



