<form id="search">
  <div class="form-group">
    <label for="search_copier">MFP search</label>
      <%= form_for :copier_search, html: { class: "form-inline", id: "search_copier" } do |f| %>
        <div class="row">
          <div class="col-sm-10">
            <%= f.search_field :text_search, placeholder: "Enter a model number...", class: "form-control", :value => @search_text %>
          </div>
          <div class="col-sm-2">
            <%= f.submit "Search", class: "btn" %>
          </div>
        </div>
      <!--  <div class="search_filters">-->
      
      <!--    <div class="row">-->
      <!--      <div class="col-sm-6">-->
      <!--      </div>-->
      <!--      <div class="col-sm-6">-->
      <!--      </div>-->
      <!--  </div>-->
      <!--</div>-->
      <% end %>

  </div>
  <!--<button class="hidden_search">Filters</button>-->
</form>
