/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* general */
// body {
//   background-color: #141414;
// }
// #main-container {
//   background: white;
// }

// .navbar-default {
//   background: #8fbe3e;
//   padding-right: 0;
//   padding-left: 0;
  
// }

/* alerts */

// .alert {
//   color: blue;
// }



// html {
//   height: 100%;
// /*Image only BG fallback*/
//   background: url(bg2.jpg);
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

body {
  background-image: url(bg2.jpg);
  font-family: 'Montserrat', sans-serif;
}


/* navbar */


nav {
  width: 100%;
}

.navbar-header {
  color: yellow;
}

#navbar-collapse-1 {
  padding-left: 0;
  padding-right: 0;
}

ul.nav {
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

ul.nav li a {
  color: #6b6b6b;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  // text-align: center;
  
}

#nav-container {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.navbar-default {
  height: 100%;
  background-color: black;
  color: yellow;
  border-color: black;
}

#navbar-collapse-1 {
  height: 100%;
}

.navbar-default img {
  max-height: 15%;
  max-width: 20%;
}

span.icon-bar {
  background-color: white;
}


/* search */

form#search {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.search_copier {
  width: 70%;
  margin: 0 auto;
}

.search_filters {
  // display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#search-intro-container {
  text-align: center;
  padding: 20px;
}

.hidden_search {
  padding-bottom: 15px;
}


/* dl formatting */

.dl-horizontal dt {
  text-align: left;
  margin-bottom: 0.5em;
  width: auto;
  padding-right: 1em;
}

.dl-horizontal dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

/* table */

td, th {
  text-align: center;
  padding: 5px;
}

.table td:hover {
  cursor: pointer;
}

/* pagination */
#row-pagination {
  text-align: center;
  display: inline-block;
}



/*****************************************************************/
#top-container {
  background: black;
}

#bottom-container {
  background: white;
  min-height: 80%;

}

.black-nav {
  background: black;
}

/* footer */

#footer-container {
  background: white;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* links and buttons */


#hidden_details {
  background-color: #8dc63f;
  color: white;
}

/* general */

#oem_table tr {
  border: 0;
}

.inner{
  background: aliceblue;
  border: 1px solid blue;
  margin: 10px 0;
}

.form-group p label {
  display: block;
  float: left; 
  width: 130px;
}

.form-group .field {
  padding: 5px;
} 

.copier_details {
  display: none;
}

.hidden_id_field {
  display: none;
}


/* notices and notice pages */

.notice {
  padding: 5px;
  background: #333333;
  color: white;
}

.post-landing {
  padding: 30px;
  text-align: center;
}

