<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="post-landing">
        <p>Go back to <%= link_to "Home page", copiers_path %> </p>
      </div>
    </div>
  </div>
</div>